<% provide(:title, 'New review') %>
<h1>New review</h1>

<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <%
      options_manner = []
      options_user = []
      #byebug
      for i in @manners do
        options_manner.push [i.manner, i.id]
      end
      for i in @users do
        options_user.push [i.name, i.id]
      end
    %>
    <%= form_for(@review, url: review_path) do |f|%>
      <%= f.label :user_id, "投稿するユーザ" %>
      <%= f.select :user_id, options_user%>
      <%= f.label :manner_id, "レビュー対象マナー" %>
      <%= f.select :manner_id, options_manner %>
      <%= f.label :star, " ★ " %>
      <%= f.select :star, [[1, 1],[2, 2],[3, 3],[4, 4],[5, 5]] %>
      <%= f.label :text, "詳細" %>
      <%= f.text_field :text, class:'form-controll' %>

      <%= f.submit "送信", class: "btn btn-primary" %>
    <% end %>
  </div>
</div>
