<% provide(:title, 'New review') %>
<h1>New review</h1>

<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <%
      options_manner = []
      options_user = []
      #byebug
      for i in @manners do
        options_manner.push [i.manner, i.id]
      end
      for i in @users do
        options_user.push [i.name, i.id]
      end
    %>
    <%= form_for(@review, url: review_path) do |f| %>
      <%= f.label :user_id, "投稿するユーザ" %>
      <%= f.select :user_id, options_user%>
      <%= f.label :manner_id, "レビュー対象マナー" %>
      <%= f.select :manner_id, options_manner %>
      <br/>
      <div class="field" id="star" class="form-controll">
        <%= f.label :star, " 評価 " %>
        <br/>
        <%= f.hidden_field :star, id: :star%>
      </div>
      <br/>
      <%= f.label :text, "理由" %>
      <%= f.text_field :text, class:'form-controll' %>
      <br/>
      <%= f.submit "送信", class: "btn btn-success" %>
    <% end %>
    <script>
      $('#star').raty({
        size : 36,
        starOff: '<%= asset_path('star-off.png') %>',
        starOn: '<%= asset_path('star-on.png') %>',
        scoreName: 'review[star]'
      });
    </script>
  </div>
</div>
